.container {
  height: 602px;
  width: 782px;
  /*border: 1px solid rgb(182, 176, 182);*/
  border-radius: 3px;
  box-sizing: border-box;
  margin: auto;
}
.pixel {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgb(182, 176, 182);
  float: left;
  border-radius: 1px;
  box-sizing: border-box;
}
/*.red {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid rgb(182, 176, 182);
  float: left;
  border-radius: 1px;
  box-sizing: border-box;
}*/
.palette {
  height: 60px;
  width: 782px;
  box-sizing: border-box;
  margin: auto;
}
.emoji_palette {
  /*height: 50px;
  width: 100px;
  box-sizing: border-box;
  margin: 0 50%;
  display: inline-block;
  clear: both;*/
  /*margin-top: 25px;*/
  margin-bottom: auto;
  height: 25px;
}
.chips {
  height: 25px;
  width: 25px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}
.emoji {
  height: 20px;
  width: 20px;
  border-radius: 1px;
  text-align: center;
  float: left;
}
.lgDiamond {
  height: 45px;
  width: 45px;
  transform: rotate(45deg) translateY(-370px) translateX(395px);
  /*margin: 40px 22px;*/
  /*margin-bottom: 10px;*/
  border: 1px solid rgb(142, 141, 139);
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 0px;
  border-radius: 3px;
}
.diamond, .dia {
  margin: 0 auto;
  overflow: hidden;
  width: 30px;
  height: 30px;
}
.diamond {
  transform: rotate(45deg) translateY(10px) translateX(10px);
}
/*.diamond .dia {
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}
.diamond img {
  position: relative;
  width: 105%; left: -7px; top: -5px;
}*/
body {
  font-family: "Arial", "Open Sans", "Droid Sans", sans-serif;
  line-height: 1.7;
  background: #f7f4e1;
  color: rgb(68, 60, 62);
}
.center{
  margin: auto;
  width: 75%;
  border: 3px solid transparent;
  padding: 30px;
  background-color: #fff;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 6.2em;
  font-weight: normal;
  text-align: center;
  margin: auto;
}
smaller {
  font-family: "Arial", "Open Sans", "Droid Sans", sans-serif;
  font-size: 3.2em;
  margin: auto;
}
p {
  text-align: center;
  font-family: "Arial", "Open Sans", "Droid Sans", sans-serif;
  margin: auto;
  line-height: 0.8;
  font-size: 18px;
}
a {
  color: #000;
}
.btn {
  height: 20px;
  margin: auto;
  text-align: center;
  margin: auto;
}
div {
  /*margin: auto;
  text-align: center;*/
}
#divWrapper {
  /*margin: auto;
  text-align: center;
  display: inline-block;*/
  display: inline-block;
  height: 30px;
}
img {
  margin: auto;
  text-align: center;
  display: inline-block;
}
