.container {
  height: 602px;
  width: 782px;
  border: 1px solid rgb(182, 176, 182);
  border-radius: 3px;
  box-sizing: border-box;
  margin: auto;
}
.pixel {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgb(182, 176, 182);
  float: left;
  border-radius: 1px;
  box-sizing: border-box;
}
.red {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid rgb(182, 176, 182);
  float: left;
  border-radius: 1px;
  box-sizing: border-box;
}
.palette {
  height: 80px;
  width: 782px;
  box-sizing: border-box;
  margin: auto;
}
.chips {
  height: 25px;
  width: 25px;
  border-radius: 1px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}
.diamond, .dia {
  margin: 0 auto;
  /*transform-origin: 50% 50%;*/
  overflow: hidden;
  width: 30px;
  height: 30px;
}
.diamond {
  transform: rotate(45deg) translateY(10px) translateX(10px);
}
.diamond .dia {
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}
.diamond img {
  position: relative;
  width: 105%; left: -7px; top: -5px;
}
body {
  padding: 0; margin: auto;
  font-family: "Open Sans Condensed", "Open Sans", "Droid Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.7;
  background: #f7f4e1;
  color: rgb(68, 60, 62);
}
h1, h2 {
  font-weight: normal;
  text-align: center;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin: 0 0 1.7em;
}
p {
  max-width: 600px;
  margin: 3em auto;
  text-align: center;
}
a {
  color: #000;
}
.btn {
  height: 20px;
  margin: auto;
}
div {
  margin: auto;
  text-align: center;
}
